.container{
    max-width: 1088px;
    padding: 0 16px;
    margin: 0 auto;
}

.label{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.15em;
    color: #8473F2;
}

.heading-ss{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 110.5%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin: 0;
}

@media (max-width: 1100.98px){
    .heading-ss{
        font-size: 48px;
    }
}