//Sofia Pro
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofiapro/Sofia-Pro-ExtraLight.otf')  format('opentype');
    font-display: swap;
    font-weight: 100;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofiapro/Sofia-Pro-Light.otf')  format('opentype');
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofiapro/Sofia-Pro-Regular.otf')  format('opentype');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofiapro/Sofia-Pro-Medium.otf')  format('opentype');
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofiapro/Sofia-Pro-Semi-Bold.otf')  format('opentype');
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofiapro/Sofia-Pro-Bold.otf')  format('opentype');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofiapro/Sofia-Pro-Black.otf')  format('opentype');
    font-display: swap;
    font-weight: 800;
}

// Graphik
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-300-Light.otf')  format('opentype');
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-400-Regular.otf')  format('opentype');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-500-Medium.otf')  format('opentype');
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-600-Semibold.otf')  format('opentype');
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-700-Bold.otf')  format('opentype');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-800-Black.otf')  format('opentype');
    font-display: swap;
    font-weight: 800;
}
@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik/Graphik-900-Super.otf')  format('opentype');
    font-display: swap;
    font-weight: 900;
}