body.home{
    background: #0B091A;
}
.hr-ss{
    padding: 98px 0;
    background-image: url(../images/bg-hr.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    &--content{
        text-align: center;
        .hr-img{
            height: 237px;
            width: auto;
            display: block;
            margin: 0 auto;
        }
        .__heading{
            font-family: 'Sofia Pro';
            font-weight: 600;
            font-size: 64px;
            line-height: 64px;
            text-align: center;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            margin: 60px auto 32px;
            max-width: 960px;
            width: 100%;
        }
        .__subheading{
            font-family: 'Graphik';
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            margin: 0 auto 32px;
            max-width: 790px;
            width: 100%;
        }
        .cta-group{
            display: flex;
            justify-content: center;
            a{
                padding: 14px 40px;
                background: #4733CA;
                font-family: 'Sofia Pro';
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.18em;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
                text-decoration: none;
                margin: 0 6px;
                &.disable{
                    border: 2px solid #292355;
                    background: transparent;
                    color: #B5B0D5;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
        .list-logo{
            margin-top: 60px;
            margin-left: auto;
            margin-right: auto;
            padding: 16px;
            display: flex;
            max-width: 560px;
            .item{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                a{
                    display: block;
                    img{
                        min-height: 27px;
                        max-height: 30px;
                        width: auto;
                        display: block;
                    }
                }
            }
        }
    }
}

.misson-ss{
    padding: 128px 0;
    background: #070516;
    border-top: 1px solid #292355;
    border-bottom: 1px solid #292355;
    .wrap-mission{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--left{
            max-width: 432px;
            h2{
                margin: 26px 0 0;
            }
        }
        &--right{
            max-width: 432px;
            p{
                font-family: 'Graphik';
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #DAD8E9;
                margin: 0;
                &:not(:last-child){
                    margin-bottom: 16px;
                }
            }
        }
    }
}

.prd-ss{
    background-image: url(../images/blur-bg.png);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    padding: 128px 0;
    .prd-ss-content{
        text-align: center;
        max-width: 726px;
        margin: 0 auto;
        h2{
            margin: 24px 0 27px;
        }
        p{
            font-family: 'Graphik';
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #DAD8E9;
            margin: 0 auto 27px;
        }
        a{
            border: 2px solid #292355;
            padding: 14px 40px;
            font-family: 'Sofia Pro';
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.18em;
            text-transform: uppercase;
            color: #B5B0D5;
            display: inline-block;
            text-decoration: none;
            cursor: auto;
            pointer-events: none;
        }
    }
}

.token-ss{
    border-top: 1px solid #292355;
    padding: 128px 0;
    &--wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &--left, &--right{
        max-width: 432px;
    }
    &--left{
        h2{
            margin: 24px 0 27px;
        }
        p{
            font-family: 'Graphik';
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #DAD8E9;
            margin: 0;
        }
    }
    &--right{
        .box{
            border: 1px solid #251F4E;
            background: #0B091A;
            display: flex;
            flex-wrap: wrap;
            h4{
                font-family: 'Sofia Pro';
                font-weight: 400;
                font-size: 20px;
                line-height: 110.5%;
                letter-spacing: -0.05em;
                color: #FFFFFF;
                margin: 0 0 8px;
            }
            ._total{
                padding: 32px;
                border-bottom: 1px solid #251F4E;
                width: 100%;
                ._num{
                    font-family: 'Graphik';
                    font-weight: 300;
                    font-size: 23px;
                    line-height: 110.5%;
                    color: #FFFFFF;
                    span{
                        font-weight: 600;
                    }
                }
            }
            .liquid{
                border-right: 1px solid #251F4E;
            }
            .liquid, .tax{
                padding: 32px;
                width: 50%;
                .main{
                    font-family: 'Graphik';
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 110.5%;
                    color: #FFFFFF;
                    span{
                        font-weight: 600;
                    }
                }
                .percent{
                    font-family: 'Graphik';
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 110.5%;
                    color: #FFFFFF;
                }
            }
            .contract{
                border-top: 1px solid #251F4E;
                padding: 32px;
                width: 100%;
                .address{
                    border: 1px solid #292355;
                    background: #100D2D;
                    border-radius: 4px;
                    padding: 11px;
                    font-family: 'Graphik';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 110.5%;
                    color: #FFFFFF;
                }
                ._note{
                    margin-top: 8px;
                    font-family: 'Graphik';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    color: #75728D;
                }
            }
        }
    }
}

.roadmap-ss{
    border-top: 1px solid #292355;
    padding: 128px 0;
    .wrap-roadmap{
        text-align: center;
        .heading-ss{
            margin: 24px 0 64px;
        }
        .wrap-stages{
            display: flex;
            border: 1px solid #251F4E;
            .stage{
                width: 33.333%;
                padding: 24px 32px;
                text-align: left;
                &:not(:last-child){
                    border-right: 1px solid #251F4E;
                }
                .label-stg{
                    font-family: 'Sofia Pro';
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 110.5%;
                    letter-spacing: 0.11em;
                    text-transform: uppercase;
                    color: #7972AB;
                    padding-bottom: 12px;
                    border-bottom: 1px solid #292355;
                    text-align: left;
                }
                .heading{
                    font-family: 'Sofia Pro';
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 110.5%;
                    color: #FFFFFF;
                    margin-top: 16px;
                }
                .list{
                    list-style: none;
                    padding: 0;
                    margin: 16px 0 0;
                    li{
                        position: relative;
                        font-family: 'Graphik';
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 20px;
                        color: #DAD8E9;
                        padding-left: 24px;
                        &.active{
                            color: #1FB46C;
                        }
                        &:not(:last-child){
                            margin-bottom: 16px;
                        }
                        img{
                            display: block;
                            position: absolute;
                            left: 0;
                            top: -1px;
                        }
                    }
                }
            }
        }
    }
}

.how-to-buy{
    background: #121028;
    border-top: 1px solid #292355;
    padding: 128px 0;
    text-align: center;
    .heading-ss{
        margin: 24px 0;
    }
    .sub-hd{
        font-family: 'Graphik';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #DAD8E9;
        max-width: 670px;
        margin: 0 auto;
    }
    .wrap-steps{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 48px;
        margin-top: 42px;
        margin-bottom: 42px;
        padding-bottom: 42px;
        border-bottom: 1px solid #292355;
        .step{
            img{
                height: 90px;
                width: 90px;
                object-fit: cover;
                display: block;
                margin: 0 auto;
            }
            h4{
                font-family: 'Sofia Pro';
                font-weight: 400;
                font-size: 24px;
                line-height: 110.5%;
                text-align: center;
                color: #FFFFFF;
                margin: 24px 0 12px;
            }
            p{
                font-family: 'Graphik';
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                color: #DAD8E9;
                margin: 0;
                a{
                    color: #8473F2;
                    text-decoration: none;
                }
            }
        }
    }
    .__contract{
        display: flex;
        align-items: center;
        .__left{
            width: calc(100% - 367px);
            display: flex;
            align-items: center;
            p{
                font-family: 'Sofia Pro';
                font-weight: 400;
                font-size: 20px;
                line-height: 110.5%;
                letter-spacing: -0.05em;
                color: #FFFFFF;
                min-width: 143px;
                margin: 0;
            }
            .__address{
                width: calc(100% - 143px);
                display: flex;
                align-items: center;

                background: #100D2D;
                border: 1px solid #292355;
                border-radius: 4px;
                padding: 19px 32px;
                margin-left: 24px;
                .address_wallet{
                    font-family: 'Graphik';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 110.5%;
                    color: #FFFFFF;
                    
                }
                .__copy{
                    margin-left: 10px;
                    cursor: pointer;
                    position: relative;
                    span{
                        display: none;
                        position: absolute;
                        font-family: 'Graphik';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 100%;
                        color: #FFFFFF;
                        bottom: -14px;
                        left: 0;
                    }
                }
            }
        }
        .__right{
            max-width: 367px;
            padding-left: 60px;
            width: 100%;
            a{
                border: 2px solid #292355;
                padding: 16px;
                font-family: 'Sofia Pro';
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.18em;
                text-transform: uppercase;
                color: #B5B0D5;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s ease all;
                &:hover{
                    background: #4733CA;
                    border-color: #4733CA;
                    color: #ffffff;
                }
            }
        }
    }
}

@media (max-width: 1200.98px){
    .hr-ss{
        &--content {
            .hr-img{
                height: 200px;
            }
            .__heading{
                font-size: 56px;
                margin: 48px auto 32px;
            }
        }
    }
}

@media (max-width: 1100.98px){
    .misson-ss, .prd-ss, .token-ss, .roadmap-ss, .how-to-buy{
        padding: 80px 0;
    }
    .how-to-buy .__contract {
        .__left {
            width: calc(100% - 320px);
            .__address{
                justify-content: space-between;
                position: relative;
                padding: 19px 24px;
                .__copy {
                    position: absolute;
                    right: 24px;
                    top: calc(50% - 10px);
                    span{
                        left: -8px;
                    }
                }
            }
        }
        .__right{
            max-width: 320px;
            padding-left: 32px;
        }   
    }
}

@media (max-width: 1024.98px){
    .hr-ss{
        padding: 64px 0;
        .hr-img{
            height: 180px;
        }
        &--content {
            .__heading{
                font-size: 48px;
                margin: 36px auto 32px;
            }
            .list-logo{
                margin-top: 48px;
            }
        }
    }
    .how-to-buy {
        .wrap-steps{
            grid-gap: 32px;
        }
        .__contract .__left .__address .address_wallet{
            font-size: 16px;
        }
    }
}

@media (max-width: 992.98px){
    .misson-ss .wrap-mission{
        &--left{
            max-width: 50%;
            width: 100%;
            padding-right: 32px;
        }
        &--right{
            max-width: 50%;
            width: 100%;
            p{
                font-size: 16px;
            }
        }
    }
    .token-ss{
        &--left{
            max-width: 50%;
            width: 100%;
            padding-right: 32px;
        }
        &--right{
            max-width: 50%;
            width: 100%;
            .box {
                h4{
                    font-size: 18px;
                }
                .liquid, .tax, ._total{
                    padding: 24px;
                }
                .contract {
                    padding: 24px;
                    .address{
                        font-size: 12px;
                    }
                }
                ._total ._num, {
                    font-size: 21px;
                }
                .liquid .main, .tax .percent{
                    font-size: 24px;
                }
            }
        }
    }
    .roadmap-ss .wrap-roadmap .wrap-stages .stage{
        padding: 16px 24px;
    }
    .how-to-buy .__contract {
        align-items: center;
        flex-direction: column;
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
        .__left{
            flex-direction: column;
            align-items: center;
            width: 100%;
            .__address{
                margin-top: 12px;
                margin-left: 0;
                max-width: 500px;
                width: 100%;
                .__copy span{
                    left: -12px;
                }
            }
        }
        .__right{
            width: 100%;
            margin-top: 18px;
            padding-left: 0;
        }
    }
}

@media (max-width: 767.98px){
    .hr-ss {
        padding: 32px 0;
        .hr-img{
            height: 130px;
        }
        &--content {
            .__heading{
                margin: 24px auto;
                font-size: 36px;
                line-height: 48px;
            }
            .__subheading{
                max-width: 600px;
                font-size: 18px;
                margin: 0 auto 24px;
            }
            .cta-group a{
                padding: 10px 24px;
                font-size: 12px;
                line-height: 18px;
            }
            .list-logo{
                margin-top: 24px;
                max-width: 430px;
                .item a img{
                    min-height: 24px;
                    max-height: 24px;
                }
            }
        }
    }

    .misson-ss, .prd-ss, .token-ss, .roadmap-ss, .how-to-buy{
        padding: 48px 0;
    }

    .misson-ss {
        .wrap-mission{
            flex-direction: column;
            max-width: 590px;
            margin: 0 auto;
            &--left{
                max-width: 100%;
                padding-right: 0;
                h2{
                    margin: 18px 0 0;
                }
            }
            &--right{
                max-width: 100%;
                margin-top: 24px;
                p{
                    font-size: 14px;
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    .prd-ss {
        .prd-ss-content{
            max-width: 590px;
            h2{
                margin: 18px 0;
            }
            p{
                font-size: 14px;
                margin: 0 auto 18px;
            }
            a{
                padding: 10px 24px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    .token-ss{
        &--wrap{
            max-width: 590px;
            margin: 0 auto;
            flex-direction: column;
        }
        &--left {
            max-width: 100%;
            padding-right: 0;
            h2{
                margin: 18px 0;
            }
            p{
                font-size: 14px;
            }
        }
        &--right{
            max-width: 100%;
            margin-top: 24px;
            .box{
                .tax, ._total, .liquid, .contract{
                    padding: 16px;
                }
                .liquid .main, .tax .percent, ._total ._num{
                    font-size: 20px;
                }
                h4{
                    font-size: 16px;
                }
            } 
        }
    }

    .roadmap-ss .wrap-roadmap {
        max-width: 590px;
        margin: 0 auto;
        .heading-ss{
            margin: 18px 0 24px;
        }
        .wrap-stages{
            flex-direction: column;
            .stage{
                width: 100%;
                padding: 16px;
                &:not(:last-child){
                    border-right: none;
                    border-bottom: 1px solid #251F4E;
                }
                .heading{
                    margin-top: 12px;
                    font-size: 24px;
                }
                .list li{
                    font-size: 16px;
                    &:not(:last-child){
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }

    .how-to-buy {
        .heading-ss{
            margin: 18px 0;
        }
        .wrap-steps{
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 24px;
            margin-top: 24px;
            margin-bottom: 24px;
            padding-bottom: 24px;
        }
        .__contract {
            .__left .__address{
                padding: 14px 18px;
                .address_wallet{
                    font-size: 14px;
                }
                .__copy{
                    right: 14px;
                    span{
                        font-size: 10px;
                        left: -14px;
                        bottom: -10px;
                    }
                }
            }
            .__right a{
                padding: 10px;
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

@media (max-width: 599.98px){
    .how-to-buy {
        .wrap-steps{
            grid-template-columns: 1fr;
            .step {
                h4{
                    margin: 12px 0;
                }
                img{
                    height: 64px;
                    width: 64px;
                }
            }
        }
        .__contract .__left .__address .address_wallet{
            font-size: 12px;
        }
    }
    .hr-ss {
        .hr-img{
            height: 80px;
        }
        &--content {
            .__heading{
                font-size: 24px;
                line-height: 32px;
                margin: 18px auto;
            }
            .__subheading{
                font-size: 16px;
                margin: 0 auto 18px;
            }
            .list-logo {
                padding: 10px;
                .item a img{
                    min-height: 20px;
                    max-height: 20px;
                }
            }
        }
    }
}

@media (max-width: 374.98px){
    .token-ss--right .box .contract .address,
    .how-to-buy .__contract .__left .__address .address_wallet{
        font-size: 10px;
    }

    .hr-ss{
        &--content {
            .list-logo .item{
                flex-direction: column;
                a:not(:last-child){
                    margin-bottom: 8px;
                }
            }
            .cta-group a{
                padding: 10px 16px;
                line-height: 100%;
            }
        }
    }
    .token-ss--right .box{
        .tax, ._total, .liquid, .contract{
            padding: 12px;
        }
    }
}